# .yamllint
---
extends: default

rules:
  line-length:
    max: 200
    level: warning
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  braces:
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  # Permetti allineamento colonne (spazi multipli dopo : e ,)
  colons:
    max-spaces-after: -1
  commas:
    max-spaces-after: -1
